.header {
  position: absolute;
  left: 0;
  width: 100%;
padding: 10px;  
  display: flex;
  align-items: center;
  justify-content :space-between;
}

.header__logo {
  display: block;
  padding-right: 200px;
}
.header__langue{
  position: relative;
  
}

.header_item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
